<h1>Welcome to the edit page</h1>



<%= form_for @person do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

		<br />

	<%= f.label :age %>
	<%= f.text_field :age %>

		<br />

	<%= f.label :hair_color %>
	<%= f.text_field :hair_color %>

		<br />

	<%= f.label :eye_color %>
	<%= f.text_field :eye_color %>

		<br />

	<%= f.label :gender %>
	<%= f.text_field :gender %>

		<br />

 	<%= f.radio_button :alive, 'Living', :value => true %> 
 	<%= label :alive_true, 'Living' %>
 	<%= f.radio_button :alive, 'Dead', :value => false %>
  	<%= label :alive_false, 'Dead' %>
		
		<br />

  	<%= f.submit %> 

<% end %>













